body{
  font-family: Gilroy-regular;
}
header {
  padding: 250px 0 200px;  background: #011B33;
  color: white !important;
  font-family: Gilroy-Heavy;
  font-size: 20px;
}

section {
  padding: 150px 0;
}
#mainNav{
  background: #011B33;

}
.btn1{
  background: #F9FCFF;
  color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Gilroy-ExtraBold;
  font-size: 20px;
}
@font-face {
  font-family: 'GingerPeachy';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/GINGP___.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Gilroy-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy-Heavy';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Gilroy-Heavy.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy-Light';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Gilroy-Light.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Gilroy-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Gilroy-Regular.woff') format('woff');
}
.lead{
  font-family: Gilroy-Regular;
  color: black;
}
.lead-header{
  color: white;
  font-family: Gilroy-Light;
}
footer{
  background-color:  #011B33;
}
.contact-class{
  padding-top: 30px
}

