@import url('//db.onlinewebfonts.com/c/00d5a78493aed4b11e2584ad7cceee49?family=Gilroy+ExtraBold');

@import url('//db.onlinewebfonts.com/c/040a78b437acd0433612f92e61d04a1b?family=Gilroy-Medium');

@import url('//db.onlinewebfonts.com/c/000833a3a58fb083c44b9de42c2ff0a2?family=Gilroy+SemiBold');

@import url('//db.onlinewebfonts.com/c/67b3eff247faac84b33ae4640cb86e30?family=Gilroy-SemiBoldItalic');
body{
    background: #E5E5E5;
    color: #011B33;
    overflow: scroll;
    transition: background-color .5s;
}
nav{
    position: absolute;
    width: 297px;
    height: 120px;
    left: 60px;
    top: 31px;

    font-family: 'Ginger Peachy NF';
    font-size: 28px;
    line-height: 38px;
}
.navigation {
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 31px;
    background: #011B33;
    left: 85%;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
    height: 40px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none; 
    margin-left:0;
    margin-right:auto;
}


.menulist {
    width:80px;
}


.logo {
    text-align:left;
    margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:yellow;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:yellow;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:yellow;
  top:-7px;
}

.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none; 
    font-family: 'Gilroy SemiBold';
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    position:relative;	
    text-align:left;
    color: #fff;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;	
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    transition:background-position .3s;
}
#drop {	
    transition: margin-top .4s;
    text-align:left;
    margin:auto;
    padding: 16px;
    font-size:30px;
}
h1{
    height: 74px;
    text-align: center;
    font-family: 'Gilroy ExtraBold';
    font-size: 40px;
    line-height: 59px;
}
#search{
    position: absolute;
    width: 650px;
    height: 48px;
    left: 280px;
    top: 238px;
    padding: 20px; 
    font-family: 'Gilroy-Medium';
    font-size: 33px;
    line-height: 39px;
    border: 2px solid #011B33;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h3{
    position: absolute;
    width: 842px;
    height: 48px;
    left: 60px;
    top: 120px;
    font-family: 'Gilroy-Medium';
    font-size: 28px;
    line-height: 39px;
}
#form-content{
    margin-top: 12%;
    width: 40%;
    top: 270px;
    margin-left: 60px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.05em;

color: #000000;
}
 select{
    width: 170px;
}
.faq-content{
    max-width: 60%;
    margin: 0 auto;
    padding: 30px 0 20px;
    text-align: left; 
    width: 100%;
    margin-top: 4%;
}
.acc h4{
    background-color: #011B33;
    color: #FFFFFF;
    padding: 15px;
    margin: 0;
    cursor: pointer;
    letter-spacing: 2px;
    font-family: Gilroy-Medium;
    font-size: 30px;
    line-height: 35px;
    position: relative;
}
.acc h4:after{
    position: absolute;
    content: '+';
    width: 100px;
    font-size: 26px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.acc {
    border-bottom: 1px solid #FFF;
}
.ques{
    padding: 0;
}
.ans{
    font-family: Gilroy-Medium;
    font-size: 24px;
    line-height: 28px;
    padding: 25px;
    background-color: #FFFFFF;
    display: none;
}
#but{
    position: absolute;
    width: 180px;
    height: 50px;
    left: 150px;
    background: #011B33;
    border: 1px solid #011B33;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-family: 'Gilroy ExtraBold';
    text-align: center;
    
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
#ht-blue{
    color: #011B33;
}
#calc{
    position: absolute;
    margin-left: 10px;
    width: 140px;
    height: 50px;
    font-size: 24px;
    line-height: 5px;
    align-self: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Gilroy ExtraBold';
    
}
#rect{
    position: absolute;
    width: 391px;
    height: 335px;
    left: 830px;
    top: 150px;
    color: #FFFFFF;
    text-align: center;
    background: #011B33;
    box-shadow: 0px 4px 73px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}
#text-value{
    margin-top: 15%;
}
#value{
    margin: 20px;
    padding: 10px;
    align-self: center;
    width: 280px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
#add{
    position: absolute;
    width: 180px;
    height: 80px;
    left: 100px;
    margin: 40px;
    border: none;
    background: transparent;
    color: #000000;
    font-family: 'Gilroy ExtraBold';
}
#circe-power{
    margin-top: 40px;
    font-family: Gilroy-SemiBoldItalic;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -0.05em;
    color: #EDE6E6;
}
#electQty{
    display: flex;
    flex-direction: row;
}
#hoursPower{
    display: flex;
    flex-direction: row;
}
#wattBatt{
    display: flex;
    flex-direction: row;
}
#newdiv{
    width: 40%;;
    margin-left: 60px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.05em;
}
footer{
    position: absolute;
    width: 336px;
    height: 28px;
    left: 502px;
    margin-top: 150px;
    font-family: Segoe UI;
    font-size: 18px;
    line-height: 24px;
}
@media only screen and (max-width: 1024px) {
    body{
        text-align: center;
        overflow-y:scroll;
        overflow-x: hidden;
        transition: background-color .5s;
        width: 90%;
        position: relative;
    }
    #search {
        position: absolute;
        width: 680px;
        height: 48px;
        left: 180px;
    }
    h1 {
        position: sticky;
        height: 40px;
        margin: 0 26.5%;
        padding: 8px;
        padding-top: 10px;
        margin-top: 20px;
        font-size: 40px;
        line-height: 30px;
    }
    nav {
        height: 80px;
        top: 15px;
    }
    h3{
        position: absolute;
        width: 360px;
        height: 40px;
        left: 330px;
        top: 148px;
        font-family: 'Gilroy-Medium';
        font-size: 20px;
        line-height: 29px;
    }
    #electQty {
        display: flex;
        flex-direction: row;
        margin-left: 280px;
        margin-top: 190px;
    }
    #hoursPower {
        display: flex;
        flex-direction: row;
        margin-left: 280px;
    }
    #wattBatt {
        display: flex;
        flex-direction: row;
        margin-left: 280px;
        margin-left: 280px;
    }
    #watt{
        display: none;
    }
    #rect {
        position: static;
        margin-left: 330px;
    }#text-value{
        padding: 30px;
    }
    #but {
        position: static;
        width: 303px;
        height: 80px;
        margin-left: 50px;
        margin-right: 0px;
        /* top: 1000px; */
        margin-top: 80px;
        background:  #011B33;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-family: 'Gilroy ExtraBold';
        color: #FFF;
    }
    .faq-content{
        margin-top: 10%;
    }
    #add {
        position: static;
        width: 180px;
        height: 80px;
    }

    #calc {
        position: absolute;
        left: 420px;
        height: 76px;
        font-size: 36px;
        line-height: 5px;
        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: 'Gilroy ExtraBold';
    }
    footer{
        position: static;
        margin-left: 310px;
        margin-top: 100px;
    }
    #master{
        overflow-x: hidden;
        position:fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }

}
@media only screen and (max-width: 964px) {
    #but {
        position: static;
        width: 303px;
        height: 80px;
        margin-left: 80px;
        /* top: 1000px; */
        margin-top: 280px;
        background:  #011B33;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-family: 'Gilroy ExtraBold';
        color: #FFF;
    }

}
@media only screen and (max-width: 907px) {
    h1{
        padding-top: 20px;
    }
    #but {
        position: static;
        width: 303px;
        height: 80px;
        margin-left: 140px;
        /* top: 1000px; */
        margin-top: 280px;
        background:  #011B33;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-family: 'Gilroy ExtraBold';
        color: #FFF;
    }

}
@media only screen and (max-width: 780px) {
    h1{
        left: 185px;
        padding-top: 30px;
    }
    h3{
        left: 225px;
    }
    #electQty {
        display: flex;
        flex-direction: row;
        margin-left: 200px;
        margin-top: 190px;
    }
    .acc h4:after {
        display: none;
    }
    #search {
        position: absolute;
        width: 480px;
        height: 48px;
        left: 145px;
        top: 160px;
    }
    .faq-content{
        margin-top: 12%;
    }
    #hoursPower {
        display: flex;
        flex-direction: row;
        margin-left: 200px;
    }
    #wattBatt {
        display: flex;
        flex-direction: row;
        margin-left: 200px;
    }
    #watt{
        display: none;
    }
    #rect {
        position: static;
        margin-left: 230px;
    }#text-value{
        padding: 30px;
    }
    #but {
        position: static;
        width: 303px;
        height: 80px;
        margin-left: 70px;
        /* top: 1000px; */
        margin-top: 280px;
        background:  #011B33;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-family: 'Gilroy ExtraBold';
        color: #FFF;
    }
    #calc{
        left: 305px;
    }
    footer{
        margin-left: 240px;
    }

}


@media only screen and (max-width: 430px) {
    h1{
        font-size: 28px;
    }
    h3{
        left: 15px;
        width: 380px;
    }
    h4{
        font-size: 20px;
    }
    #ht-blue{
        padding: 130px;
    }
    #search {
        position: absolute;
        width: 260px;
        height: 48px;
        left: 85px;
        top: 140px;
        font-size: 20px;
    }
    .acc h4{
        font-size: 20px;
    }
    .acc h4:after {
        display: none;
    }
    #electQty {
        display: flex;
        flex-direction: row;
        margin-left: -20px;
        margin-top: 190px;
    }
    #hoursPower {
        display: flex;
        flex-direction: row;
        margin-left: -20px;
    }
    #wattBatt {
        display: flex;
        flex-direction: row;
        margin-left: -20px;
    }
    #watt{
        display: none;
    }
    #rect {
        position: static;
        margin-left: 15px;
        
    }
    #text-value{
        padding: 30px;
    }
    #but {
        position: static;
        width: 303px;
        height: 50px;
        margin-left: 10px;
        /* top: 1000px; */
        margin-top: 180px;
        background:  #011B33;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-family: 'Gilroy ExtraBold';
        color: #FFF;
    }
    nav{
        left: 45px;
    }
    #calc{
        left: 110px;
    }
    footer{
        margin-left: 20px;
    }
    .navigation{
        width: 30%;
        position: static;
    }
   

}
@media only screen and (max-width: 380px) {
    h1{
        left: 25px;
        font-size: 28px;
    }
    h3{
        left: 15px;
        width: 330px;
    }
    #ht-blue{
        padding: 100px;
    }
    .a h4{
        font-size: 20px;
    }
    #search {
        position: absolute;
        width: 240px;
        height: 48px;
        left: 65px;
        top: 140px;
        font-size: 20px;
    }
    #electQty {
        display: flex;
        flex-direction: row;
        margin-left: -50px;
        margin-top: 190px;
    }
    #hoursPower {
        display: flex;
        flex-direction: row;
        margin-left: -50px;
    }
    #wattBatt {
        display: flex;
        flex-direction: row;
        margin-left: -50px;
    }
    #watt{
        display: none;
    }
    #rect {
        position: static;
        margin-left: 12.5px;
        width: 350px;
    }#text-value{
        padding: 30px;
    }
    #but {
        position: static;
        width: 303px;
        height: 50px;
        margin-left: 10px;
        /* top: 1000px; */
        margin-top: 130px;
        background:  #011B33;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-family: 'Gilroy ExtraBold';
        color: #FFF;
    }
    nav{
        left: 45px;
    }
    footer{
        margin-left: 12px;
    }
    .navigation{
        width: 30%;
        position: static;
    }
   .navigation ul{
       font-size: 12px;
       padding-top: 60px;
       padding: 15px;
   }

}
@media only screen and (max-width: 320px) {
    h1{
        left: -15px;
        margin-right: 40px;
    }
    h3{
        left: 15px;
        width: 280px;
    }
    #search{
        margin-left: 15px;
    }
    #search {
        position: absolute;
        width: 220px;
        height: 48px;
        left: 40px;
        top: 140px;
        font-size: 18px;
    }
    #electQty {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 190px;
    }
    #electQty label{
        margin-left: 40px;
        text-align: justify;
    }
    #hoursPower {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    #hoursPower label{
        margin-left: 40px;
        text-align: justify;
    }
    #wattBatt {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    #wattBatt label{
        margin-left: 40px;
        text-align: justify;
    }
    #watt{
        display: none;
    }
    #rect {
        position: static;
        margin-left: 20px;
        width: 280px;
    }
    #value{
        width: 260px;
        margin-left: 12.5px;
        align-self: center;
    }
    #but {
        position: static;
        width: 203px;
        height: 50px;
        margin-left: 10px;
        /* top: 1000px; */
        margin-top: 280px;
        background:  #011B33;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-family: 'Gilroy ExtraBold';
        color: #FFF;
    }
    nav{
        left: -1px;
    }
    #calc{
        margin-left: -10px;
        margin-right: 10px;
        font-size: 28px;
    }
    footer{
        margin-left: 0px;
        font-size: 16px
    }
    .navigation{
        width: 20%;
        position: static;
    }
    #now{
        display: none;
    }
   

}