@import url('//db.onlinewebfonts.com/c/00d5a78493aed4b11e2584ad7cceee49?family=Gilroy+ExtraBold');

@import url('//db.onlinewebfonts.com/c/040a78b437acd0433612f92e61d04a1b?family=Gilroy-Medium');

@import url('//db.onlinewebfonts.com/c/000833a3a58fb083c44b9de42c2ff0a2?family=Gilroy+SemiBold');

@import url('//db.onlinewebfonts.com/c/67b3eff247faac84b33ae4640cb86e30?family=Gilroy-SemiBoldItalic');
body{
    background: #011B33;
    color: #FFFFFF;
    text-align: center;
    overflow-y:scroll;
    overflow-x: hidden;
    transition: background-color .5s;
    max-width: 90%;
}
nav{
    position: absolute;
    width: 297px;
    height: 120px;
    left: 0px;
    top: 31px;
    font-family: 'Ginger Peachy NF';
    font-size: 28px;
    line-height: 38px;
}
.navigation {
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 31px;
    background: #011B33;
    left: 85%;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
    height: 40px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none; 
    margin-left:0;
    margin-right:auto;
}


.menulist {
    width:80px;
}


.logo {
    text-align:left;
    margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:yellow;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:yellow;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:yellow;
  top:-7px;
}

.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none; 
    font-family: 'Gilroy SemiBold';
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    position:relative;	
    text-align:left;
    color: #fff;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;	
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    transition:background-position .3s;
}
#drop {	
    transition: margin-top .4s;
    text-align:left;
    margin:auto;
    padding: 16px;
    font-size:30px;
}
h1{
    position: absolute;
    width: 799px;
    height: 74px;
    left: 250px;
    top: 50px;
    text-align: center;
    font-family: 'Gilroy ExtraBold';
    font-size: 40px;
    line-height: 59px;
}
h3{
    position: absolute;
    width: 842px;
    height: 116px;
    left: 240px;
    top: 238px;

    font-family: 'Gilroy-Medium';
    font-size: 33px;
    line-height: 39px;
}
#but{
    position: absolute;
    width: 447px;
    height: 80px;
    left: 417px;
    top: 400px;
    background: #F9FCFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    font-family: 'Gilroy ExtraBold';
    color: #000000;
    
}
a{
    text-decoration: none;
    color: #000000;
}
#calc{
    position: absolute;
    width: 404px;
    height: 76px;
    font-size: 52px;
    line-height: 5px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Gilroy ExtraBold';
    
}
footer{
    position: absolute;
    width: 336px;
    height: 28px;
    left: 472px;
    top: 546px;
    font-family: Segoe UI;
    font-size: 18px;
    line-height: 24px;
}
#page{
    position: relative;
}
@media only screen and (max-width: 1024px) {
    body{
        background: #011B33;
        color: #FFFFFF;
        text-align: center;
        overflow-y:scroll;
        transition: background-color .5s;
        position: relative;
        max-width: 1024px;
    }
    h1 {
        position: absolute;
        width: 330px;
        height: 40px;
        left: 330px;
        top: 40px;
        padding: 8px;
        margin-top: 20px;
        font-size: 40px;
        line-height: 30px;
    }
    nav {
        height: 80px;
        top: 15px;
    }
    h3{
        position: absolute;
        width: 360px;
        height: 40px;
        left: 330px;
        top: 178px;
        font-family: 'Gilroy-Medium';
        font-size: 20px;
        line-height: 29px;
    }
    #but {
        position: static;
        width: 303px;
        height: 80px;
        margin-right: 0px;
        /* top: 1000px; */
        margin-top: 280px;
        background: #F9FCFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-family: 'Gilroy ExtraBold';
        color: #000000;
    }

    #calc {
        position: absolute;
        left: 300px;
        /* width: 404px; */
        height: 76px;
        font-size: 36px;
        line-height: 5px;
        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: 'Gilroy ExtraBold';
    }
    footer{
        position: static;
        margin-left: 310px;
        margin-top: 100px;
    }
    #page{
        overflow-x: hidden;
    }

}
@media only screen and (max-width: 964px) {
    #but {
        position: static;
        width: 303px;
        height: 80px;
        margin-left: 80px;
        /* top: 1000px; */
        margin-top: 280px;
        background: #F9FCFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-family: 'Gilroy ExtraBold';
        color: #000000;
    }

}
@media only screen and (max-width: 907px) {
    #but {
        position: static;
        width: 303px;
        height: 80px;
        margin-left: 140px;
        /* top: 1000px; */
        margin-top: 280px;
        background: #F9FCFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-family: 'Gilroy ExtraBold';
        color: #000000;
    }

}
@media only screen and (max-width: 780px) {
    h1{
        left: 225px;
    }
    h3{
        left: 225px;
    }
    #but {
        position: static;
        width: 303px;
        height: 80px;
        margin-left: 70px;
        /* top: 1000px; */
        margin-top: 280px;
        background: #F9FCFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-family: 'Gilroy ExtraBold';
        color: #000000;
    }
    #calc{
        left: 205px;
    }
    footer{
        margin-left: 240px;
    }

}
@media only screen and (max-width: 430px) {
    h1{
        left: 35px;
        font-size: 28px;
    }
    h3{
        left: 15px;
        width: 380px;
    }
    #but {
        position: static;
        width: 303px;
        height: 50px;
        margin-left: 10px;
        /* top: 1000px; */
        margin-top: 280px;
        background: #F9FCFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-family: 'Gilroy ExtraBold';
        color: #000000;
    }
    nav{
        left: 45px;
    }
    #calc{
        left: 0px;
    }
    footer{
        margin-left: 20px;
    }
    .navigation{
        width: 40%;
        position: static;
    }
   

}
@media only screen and (max-width: 380px) {
    h1{
        left: 15px;
        font-size: 28px;
    }
    h3{
        left: 15px;
        width: 330px;
    }
    #but {
        position: static;
        width: 303px;
        height: 50px;
        margin-left: 10px;
        /* top: 1000px; */
        margin-top: 280px;
        background: #F9FCFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-family: 'Gilroy ExtraBold';
        color: #000000;
    }
    nav{
        left: 45px;
    }
    footer{
        margin-left: 12px;
    }
    .navigation{
        width: 40%;
        position: static;
    }
   

}
@media only screen and (max-width: 320px) {
    h1{
        left: -15px;
        font-size: 22px;
        margin-right: 40px;
        margin-top: 40px;
    }
    h3{
        left: 15px;
        width: 280px;
    }
    #but {
        position: static;
        width: 203px;
        height: 50px;
        margin-left: 10px;
        /* top: 1000px; */
        margin-top: 280px;
        background: #F9FCFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        font-family: 'Gilroy ExtraBold';
        color: #000000;
    }
    nav{
        left: -1px;
    }
    #calc{
        margin-left: -40px;
        margin-right: 10px;
        font-size: 28px;
    }
    footer{
        margin-left: 20px;
    }
    .navigation{
        width: 20%;
        position: static;
    }
    #now{
        display: none;
    }
   

}