@import url('//db.onlinewebfonts.com/c/00d5a78493aed4b11e2584ad7cceee49?family=Gilroy+ExtraBold');

@import url('//db.onlinewebfonts.com/c/040a78b437acd0433612f92e61d04a1b?family=Gilroy-Medium');

@import url('//db.onlinewebfonts.com/c/000833a3a58fb083c44b9de42c2ff0a2?family=Gilroy+SemiBold');

@import url('//db.onlinewebfonts.com/c/67b3eff247faac84b33ae4640cb86e30?family=Gilroy-SemiBoldItalic');
body{
    background: #E5E5E5;
    color: #011B33;
    overflow-y: scroll;
    transition: background-color .5s;
}
nav{
    position: absolute;
    width: 297px;
    height: 120px;
    left: 60px;
    top: 31px;

    font-family: 'Ginger Peachy NF';
    font-size: 28px;
    line-height: 38px;
}
.navigation {
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 31px;
    background: #011B33;
    left: 85%;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
    height: 40px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none; 
    margin-left:0;
    margin-right:auto;
}


.menulist {
    width:80px;
}


.logo {
    text-align:left;
    margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:yellow;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:yellow;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:yellow;
  top:-7px;
}

.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none; 
    font-family: 'Gilroy SemiBold';
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    position:relative;	
    text-align:left;
    color: #fff;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;	
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    transition:background-position .3s;
}
#drop {	
    transition: margin-top .4s;
    text-align:left;
    margin:auto;
    padding: 16px;
    font-size:30px;
}
h1{
    position: absolute;
    width: 799px;
    height: 74px;
    left: 300px;
    top: 50px;
    text-align: center;
    font-family: 'Gilroy ExtraBold';
    font-size: 40px;
    line-height: 59px;
}
#search{
    position: absolute;
    width: 680px;
    height: 48px;
    left: 330px;
    top: 238px;
    padding: 20px; 
    font-family: 'Gilroy-Medium';
    font-size: 33px;
    line-height: 39px;
    border: 2px solid #011B33;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h3{
    position: absolute;
    width: 842px;
    height: 48px;
    left: 60px;
    top: 120px;
    font-family: 'Gilroy-Medium';
    font-size: 28px;
    line-height: 39px;
}
#form-content{
    margin-top: 12%;
    width: 40%;
    top: 270px;
    margin-left: 60px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.05em;

color: #000000;
}
 select{
    width: 170px;
}
.faq-content{
    max-width: 60%;
    margin: 0 auto;
    padding: 30px 0 20px;
    text-align: left; 
    width: 100%;
    margin-top: 26%;
}
.acc h4{
    background-color: #011B33;
    color: #FFFFFF;
    padding: 15px;
    margin: 0;
    cursor: pointer;
    letter-spacing: 2px;
    font-family: Gilroy-Medium;
    font-size: 30px;
    line-height: 35px;
    position: relative;
}
.acc h4:after{
    position: absolute;
    content: '+';
    width: 100px;
    font-size: 26px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.acc {
    border-bottom: 1px solid #FFF;
}
.ques{
    padding: 0;
}
.ans{
    font-family: Gilroy-Medium;
    font-size: 24px;
    line-height: 28px;
    padding: 25px;
    background-color: #FFFFFF;
    display: none;
}
#but{
    position: absolute;
    width: 180px;
    height: 50px;
    left: 150px;
    background: #011B33;
    border: 1px solid #011B33;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-family: 'Gilroy ExtraBold';
    text-align: center;
    
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
#ht-blue{
    color: #011B33;
}
#calc{
    position: absolute;
    margin-left: 10px;
    width: 140px;
    height: 50px;
    font-size: 24px;
    line-height: 5px;
    align-self: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Gilroy ExtraBold';
    
}
#rect{
    position: absolute;
    width: 391px;
    height: 335px;
    left: 830px;
    top: 150px;
    color: #FFFFFF;
    text-align: center;
    background: #011B33;
    box-shadow: 0px 4px 73px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}
#text-value{
    margin-top: 15%;
}
#value{
    margin: 20px;
    padding: 10px;
    align-self: center;
    width: 280px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
#add{
    position: absolute;
    width: 180px;
    height: 80px;
    left: 100px;
    margin: 40px;
    border: none;
    background: transparent;
    color: #000000;
    font-family: 'Gilroy ExtraBold';
}
#circe-power{
    margin-top: 40px;
    font-family: Gilroy-SemiBoldItalic;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -0.05em;
    color: #EDE6E6;
}
#electQty{
    display: flex;
    flex-direction: row;
}
#hoursPower{
    display: flex;
    flex-direction: row;
}
#wattBatt{
    display: flex;
    flex-direction: row;
}
#newdiv{
    width: 40%;;
    margin-left: 60px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.05em;
}
footer{
    position: absolute;
    width: 336px;
    height: 28px;
    left: 552px;
    margin-top: 150px;
    font-family: Segoe UI;
    font-size: 18px;
    line-height: 24px;
}
@media only screen and (max-width: 1040px){
    body{
        text-align: center;
        overflow-y:scroll;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
        width: 40%;
        transition: background-color .5s;
        font-size: 16px;
        text-justify: auto;
        display: flex;
        flex-flow: wrap;
    }
    hr{
        display: none;
    }
    #search{
        left: 20px;
    }
    #rect {
        width: 391px;
        height: 335px;
        left: 830px;
        top: 150px;
        color: #FFFFFF;
        text-align: center;
        background: #011B33;
        box-shadow: 0px 4px 73px rgba(0, 0, 0, 0.25);
        border-radius: 19px;
        position: static;
        margin-left: 300px;
    }
    .navigation {
        width: 35%;
    }
    #topNav.navigation{
        width: 120px;
    }
    .menulist {
        width: 130px;
    }
    .menuitems {
        padding-top: 12px;
        padding-bottom: 12px;
        text-decoration: none;
        list-style: none;
        font-family: 'Gilroy SemiBold';
        font-weight: 300;
        width:120px;
        font-size: 24px;
        display: inline-block;
        position: relative;
        text-align: left;
        color: #fff;
        transition: all .5s ease-in-out;
        margin-top: 0px;
        opacity: 1;
        right: 120px;
    }
    #form-content {
        margin-top: 12%;
        width: 30%;
        margin-left: 300px;
        left: 200px;
        margin-left: 10px;
        font-family: 'Gilroy-Medium';
        font-size: 14px;
        line-height: 15px;
        letter-spacing: -0.05em;
        color: #000000;
        margin-top: 20px;
    }
    #electQty {
        margin-left: 300px;
        display: flex;
        flex-direction: row;
    }
    #hoursPower {
        margin-left: 300px;
        display: flex;
        flex-direction: row;
    }
    #wattBatt {
        margin-left: 300px;
        display: flex;
        flex-direction: row;
    }
    h1 {
        position: static;
        text-align: center;
        margin-left: 90px;
        font-size: -webkit-xxx-large;
        margin-top: 50px;
    }
    h3{
        position: static;
        text-align: center;
        margin-left: 300px;
        left: 20%;
        width: 370px;
        font-size: 26px;
        text-align-last: center;
        margin-top: 50px;
    }
    #but {
        position: static;
        margin-left: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #text-valu2e {
        margin-top: px;
        padding-top: 40px;
    }
    #add {
        position: static;
        text-align: center;
        margin-left: 100px;
        /* height: 80px; */
        /* left: 100px; */
        /* margin: 40px; */
        border: none;
        background: transparent;
        color: #000000;
        font-family: 'Gilroy ExtraBold';
    }
    #now{
        display: none;
    }
    #calc{
        text-align: center;
        width: 80px;
    }
    footer{
        left: 30%;
        text-align: center;
        margin-top: 10px;
        position: fixed;
    }
    #page{
        position: relative;
        width: 20%;
        display: flex;
        flex-flow: wrap;
    }
}
@media only screen and (max-width: 860px){
    body{
        
        text-align: center;
        overflow-y:scroll;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
        width: 40%;
        transition: background-color .5s;
        font-size: 16px;
        text-justify: auto;
        display: flex;
        flex-flow: wrap;
    }
    .navigation {
        width: 35%;
    }
    #topNav.navigation{
        width: 120px;
    }
    .menulist {
        width: 130px;
    }
    .menuitems {
        padding-top: 12px;
        padding-bottom: 12px;
        text-decoration: none;
        list-style: none;
        font-family: 'Gilroy SemiBold';
        font-weight: 300;
        width: 120px;
        font-size: 24px;
        display: inline-block;
        position: relative;
        text-align: left;
        color: #fff;
        transition: all .5s ease-in-out;
        margin-top: 0px;
        opacity: 1;
        right: 120px;
    }
    hr{
        display: none;
    }
    #calc{
        text-align: center;
        left: 30%;
        width: 80px;
    }
    footer{
        left: 30%;
        text-align: center;
        margin-top: 50px;
        position: fixed;
    }
    #page{
        position: relative;
        width: 20%;
        display: flex;
        flex-flow: wrap;
    }
}
@media only screen and (max-width: 680px){
    body{
        text-align: left;
        overflow:hidden;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
        width: 40%;
        transition: background-color .5s;
        font-size: 16px;
        text-justify: auto;
        display: flex;
        flex-flow: wrap;
    }
    .navigation {
        width: 35%;
    }
    #topNav.navigation{
        width: 120px;
    }
    .menulist {
        width: 130px;
    }
    .menuitems {
        padding-top: 12px;
        padding-bottom: 12px;
        text-decoration: none;
        list-style: none;
        font-family: 'Gilroy SemiBold';
        font-weight: 300;
        width: 120px;
        font-size: 24px;
        display: inline-block;
        position: relative;
        text-align: left;
        color: #fff;
        transition: all .5s ease-in-out;
        margin-top: 0px;
        opacity: 1;
        right: 120px;
    }
    hr{
        display: none;
    }
    h1{
        position: static;
        text-align: left;
        margin-left: 10%;
        left: 18%;
        font-size: -webkit-xxx-large;
        margin-top: 50px;
    }
    h3{
        position: absolute;
        text-align: left;
        margin: 0 auto;
        left: 18%;
        width: 370px;
        font-size: 26px;
        text-align-last: center;
        margin-top: 50px;
    }
    #but{
        position: absolute;
        left: 10%;
        width: 90vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #now{
        display: none;
    }
    #calc{
        text-align: center;
        left: 10%;
        width: 80px;
    }
    footer{
        left: 5%;
        margin-top: 50px;
    }
    #page{
        position: relative;
        width: 20%;
        display: flex;
        flex-flow: wrap;
    }
}
@media only screen and (max-width: 380px){
    body{
        text-align: left;
        overflow:hidden;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
        width: 40%;
        transition: background-color .5s;
        font-size: 16px;
        text-justify: auto;
        display: flex;
        flex-flow: wrap;
    }
    .menuitems {
        padding-top: 12px;
        padding-bottom: 12px;
        text-decoration: none;
        list-style: none;
        font-family: 'Gilroy SemiBold';
        font-weight: 300;
        width: 120px;
        font-size: 24px;
        display: inline-block;
        position: relative;
        text-align: left;
        color: #fff;
        transition: all .5s ease-in-out;
        margin-top: 0px;
        opacity: 1;
        right: 120px;
    }
    hr{
        display: none;
    }
    #form-content {
        margin-top: 12%;
        width: 30%;
        top: 300px;
        margin-left: 10px;
        font-family: 'Gilroy-Medium';
        font-size: 14px;
        line-height: 15px;
        letter-spacing: -0.05em;
        color: #000000;
    }
    h1{
        position: static;
        text-align: left;
        margin-left: 2%;
        left: 8%;
        font-size: -webkit-xxx-large;
        margin-top: 50px;
    }
    h3{
        position: absolute;
        text-align: left;
        margin: 0 auto;
        left: 8%;
        width: 370px;
        font-size: 26px;
        text-align-last: center;
        margin-top: 50px;
    }
    #but{
        position: absolute;
        left: 10%;
        width: 90vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #now{
        display: none;
    }
    #calc{
        text-align: center;
        left: 10%;
        width: 80px;
    }
    footer{
        left: 5%;
        margin-top: 50px;
    }
    #page{
        position: relative;
        width: 20%;
        display: flex;
        flex-flow: wrap;
    }
}
