@font-face {
	font-family: 'Gilroy';
	src:url(fonts/Gilroy-Regular.woff) format("woff");
}

@font-face {
	font-family: 'GingerPeachy';
	src:url(fonts/GingerPeachyNF.ttf) format("truetype");
}

body {
	background-color:#001B3A;
	font-family: 'Gilroy', sans-serif;
}

.navbar {
background-color:#001B3A;
}

.icon-bar {
background-color:white;
}

.navbar-brand, .nav li a{
	color:white;
	padding: 5px !important;
}

#logo {
	font-family: 'GingerPeachy', sans-serif;
	padding: 0 !important;
	margin: 0 !important;
}

.nav li a:focus, .nav li a:hover{
background-color:white;
color:#001B3A;
border-radius:20px;
}

.display {
height:82vh;
}

.jumbotron {
position: absolute;
top:50%;
left:50%;
transform:translate(-50%, -45%);
width: fit-content;
width:-moz-fit-content;
width:-webkit-fit-content;
background-color:#001B3A;
color:white;
}

@media screen and (min-height: 700px) {
.jumbotron {
top:45%;
}

}

.jumbotron h1,h3 {
font-weight:900;
letter-spacing: 4px;
}

.jumbotron p {
font-weight:300;
}

#btn {
padding:15px;
border:1px solid black;
border-radius:20px;
color:#001B3A;
background:white;
}

footer {
color:white;
margin:auto;
width:fit-content;
width:-moz-fit-content;
width:-webkit-fit-content;
position:absolute;
left:50%;
transform:translate(-50%, -50%);
}