@import url('//db.onlinewebfonts.com/c/00d5a78493aed4b11e2584ad7cceee49?family=Gilroy+ExtraBold');

@import url('//db.onlinewebfonts.com/c/040a78b437acd0433612f92e61d04a1b?family=Gilroy-Medium');

@import url('//db.onlinewebfonts.com/c/000833a3a58fb083c44b9de42c2ff0a2?family=Gilroy+SemiBold');

@import url('//db.onlinewebfonts.com/c/67b3eff247faac84b33ae4640cb86e30?family=Gilroy-SemiBoldItalic');
body{
    background: #011B33;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    overflow:hidden;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    transition: background-color .5s;
}
nav{
    position: absolute;
    width: 297px;
    height: 120px;
    left: 0px;
    top: 31px;

    font-family: 'Ginger Peachy NF';
    font-size: 28px;
    line-height: 38px;
}
.navigation {
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 31px;
    background: #011B33;
    left: 85%;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
    height: 40px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none; 
    margin-left:0;
    margin-right:auto;
}


.menulist {
    width:80px;
}


.logo {
    text-align:left;
    margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:yellow;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:yellow;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:yellow;
  top:-7px;
}

.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none; 
    font-family: 'Gilroy SemiBold';
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    position:relative;	
    text-align:left;
    color: #fff;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;	
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    transition:background-position .3s;
}
#drop {	
    transition: margin-top .4s;
    text-align:left;
    margin:auto;
    padding: 16px;
    font-size:30px;
}
h1{
    position: relative;
    width: 799px;
    height: 74px;
    left: 300px;
    top: 50px;
    text-align: center;
    font-family: 'Gilroy ExtraBold';
    font-size: 40px;
    line-height: 59px;
}
h3{
    position: absolute;
    width: 842px;
    height: 116px;
    left: 280px;
    top: 238px;

    font-family: 'Gilroy-Medium';
    font-size: 33px;
    line-height: 39px;
}
#but{
    position: absolute;
    width: 447px;
    height: 86px;
    left: 457px;
    top: 400px;
    background: #F9FCFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    font-family: 'Gilroy ExtraBold';
    color: #000000;
    
}
#now{
    display: none;
}
a{
    text-decoration: none;
    color: #000000;
}
#calc{
    position: absolute;
    width: 404px;
    height: 76px;
    font-size: 52px;
    line-height: 5px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Gilroy ExtraBold';
    
}
footer{
    position: absolute;
    width: 336px;
    height: 28px;
    left: 502px;
    top: 546px;
    font-family: Segoe UI;
    font-size: 18px;
    line-height: 24px;
}
#page{
    position: relative;
}
@media only screen and (max-width: 1040px){
    body{
        background: #011B33;
        color: #FFFFFF;
        text-align: center;
        overflow:hidden;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
        width: 40%;
        transition: background-color .5s;
        font-size: 16px;
        text-justify: auto;
        display: flex;
        flex-flow: wrap;
    }
    .navigation {
        width: 35%;
    }
    #topNav.navigation{
        width: 120px;
    }
    .menulist {
        width: 130px;
    }
    .menuitems {
        padding-top: 12px;
        padding-bottom: 12px;
        text-decoration: none;
        list-style: none;
        font-family: 'Gilroy SemiBold';
        font-weight: 300;
        width: 120px;
        font-size: 24px;
        display: inline-block;
        position: relative;
        text-align: left;
        color: #fff;
        transition: all .5s ease-in-out;
        margin-top: 0px;
        opacity: 1;
        right: 120px;
    }
    #form-content {
        margin-top: 12%;
        width: 30%;
        top: 300px;
        left: 20px;
        margin-left: 10px;
        font-family: 'Gilroy-Medium';
        font-size: 14px;
        line-height: 15px;
        letter-spacing: -0.05em;
        color: #000000;
        margin-top: 20px;
    }
    h1{
        position: static;
        text-align: center;
        margin-left: 330px;
        left: 20%;
        font-size: -webkit-xxx-large;
        margin-top: 50px;
    }
    h3{
        position: absolute;
        text-align: center;
        margin-left: 300px;
        left: 20%;
        width: 370px;
        font-size: 26px;
        text-align-last: center;
        margin-top: 50px;
    }
    #but{
        position: absolute;
        left: 260px;
        width: 50vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #now{
        display: none;
    }
    #calc{
        text-align: center;
        left: 30%;
        width: 80px;
    }
    footer{
        left: 30%;
        text-align: center;
        margin-top: 50px;
        position: fixed;
    }
    #page{
        position: relative;
        width: 20%;
        display: flex;
        flex-flow: wrap;
    }
}
@media only screen and (max-width: 860px){
    body{
        background: #011B33;
        color: #FFFFFF;
        text-align: center;
        overflow:hidden;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
        width: 40%;
        transition: background-color .5s;
        font-size: 16px;
        text-justify: auto;
        display: flex;
        flex-flow: wrap;
    }
    .navigation {
        width: 35%;
    }
    #topNav.navigation{
        width: 120px;
    }
    .menulist {
        width: 130px;
    }
    .menuitems {
        padding-top: 12px;
        padding-bottom: 12px;
        text-decoration: none;
        list-style: none;
        font-family: 'Gilroy SemiBold';
        font-weight: 300;
        width: 120px;
        font-size: 24px;
        display: inline-block;
        position: relative;
        text-align: left;
        color: #fff;
        transition: all .5s ease-in-out;
        margin-top: 0px;
        opacity: 1;
        right: 120px;
    }
    h1{
        position: static;
        text-align: center;
        margin-left: 180px;
        left: 20%;
        font-size: -webkit-xxx-large;
        margin-top: 50px;
    }
    h3{
        position: absolute;
        text-align: center;
        margin-left: 155px;
        left: 20%;
        width: 370px;
        font-size: 26px;
        text-align-last: center;
        margin-top: 50px;
    }
    #but{
        position: absolute;
        left: 10%;
        width: 90vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #now{
        display: none;
    }
    #calc{
        text-align: center;
        left: 30%;
        width: 80px;
    }
    footer{
        left: 30%;
        text-align: center;
        margin-top: 50px;
        position: fixed;
    }
    #page{
        position: relative;
        width: 20%;
        display: flex;
        flex-flow: wrap;
    }
}
@media only screen and (max-width: 680px){
    body{
        background: #011B33;
        color: #FFFFFF;
        text-align: left;
        overflow:hidden;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
        width: 40%;
        transition: background-color .5s;
        font-size: 16px;
        text-justify: auto;
        display: flex;
        flex-flow: wrap;
    }
    .navigation {
        width: 35%;
    }
    #topNav.navigation{
        width: 120px;
    }
    .menulist {
        width: 130px;
    }
    .menuitems {
        padding-top: 12px;
        padding-bottom: 12px;
        text-decoration: none;
        list-style: none;
        font-family: 'Gilroy SemiBold';
        font-weight: 300;
        width: 120px;
        font-size: 24px;
        display: inline-block;
        position: relative;
        text-align: left;
        color: #fff;
        transition: all .5s ease-in-out;
        margin-top: 0px;
        opacity: 1;
        right: 120px;
    }
    h1{
        position: static;
        text-align: left;
        margin-left: 2%;
        left: 8%;
        font-size: -webkit-xxx-large;
        margin-top: 50px;
    }
    h3{
        position: absolute;
        text-align: left;
        margin: 0 auto;
        left: 8%;
        width: 370px;
        font-size: 26px;
        text-align-last: center;
        margin-top: 50px;
    }
    #but{
        position: absolute;
        left: 10%;
        width: 90vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #now{
        display: none;
    }
    #calc{
        text-align: center;
        left: 10%;
        width: 80px;
    }
    footer{
        left: 5%;
        margin-top: 50px;
    }
    #page{
        position: relative;
        width: 20%;
        display: flex;
        flex-flow: wrap;
    }
}
@media only screen and (max-width: 380px){
    body{
        background: #011B33;
        color: #FFFFFF;
        text-align: left;
        overflow:hidden;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
        width: 40%;
        transition: background-color .5s;
        font-size: 16px;
        text-justify: auto;
        display: flex;
        flex-flow: wrap;
    }
    .navigation {
        width: 35%;
    }
    #topNav.navigation{
        width: 120px;
    }
    .menulist {
        width: 130px;
    }
    .menuitems {
        padding-top: 12px;
        padding-bottom: 12px;
        text-decoration: none;
        list-style: none;
        font-family: 'Gilroy SemiBold';
        font-weight: 300;
        width: 120px;
        font-size: 24px;
        display: inline-block;
        position: relative;
        text-align: left;
        color: #fff;
        transition: all .5s ease-in-out;
        margin-top: 0px;
        opacity: 1;
        right: 120px;
    }
    #form-content {
        margin-top: 12%;
        width: 30%;
        top: 300px;
        margin-left: 10px;
        font-family: 'Gilroy-Medium';
        font-size: 14px;
        line-height: 15px;
        letter-spacing: -0.05em;
        color: #000000;
    }
    h1{
        position: static;
        text-align: left;
        margin-left: 2%;
        left: 8%;
        font-size: -webkit-xxx-large;
        margin-top: 50px;
    }
    h3{
        position: absolute;
        text-align: left;
        margin: 0 auto;
        left: 8%;
        width: 370px;
        font-size: 26px;
        text-align-last: center;
        margin-top: 50px;
    }
    #but{
        position: absolute;
        left: 10%;
        width: 90vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #now{
        display: none;
    }
    #calc{
        text-align: center;
        left: 10%;
        width: 80px;
    }
    footer{
        left: 5%;
        margin-top: 50px;
    }
    #page{
        position: relative;
        width: 20%;
        display: flex;
        flex-flow: wrap;
    }
}

