*{
	margin:0px;
	padding:0px;
}
#nav{
	background-color:white;
	border:none;
	margin-bottom: 20px;
}
#brand{
	font-family: ginger peachy nf;
	font-size:28px;
	text-align: center;
	color:#011B33;
	font-weight: bold;
}
#faq-search{
	text-align:center;
}
#input{
	background:#ffffff;
	border:2px solid #011B33; 
	box-sizing:border-box;
	width:480px;
	padding:10px;
	margin-bottom: 20px;
	color: rgba(0, 0, 0, 0.47);
}
#h1{
	font-weight: bold;
	color:#011B33;
}
.accordion{
	margin-top:5px;
	width:100%;
	height:auto;
	background-color: #011B33;
	color:white;
	border-radius: 6px;
	box-shadow: 0px 4px 4px 0px;
	padding:10px;
	text-align:left;
	border: 1px solid #011B33 ;
	transition:0.4s;
	outline: none;
}
.accordion:after{
	content: "+";
	background:white;
	color: #011B33;
	float:right;
	font-weight: bold;
	font-size:15px;
	width:20px;
	text-align:center;
	border-radius: 100%;
	height: 20px;
}
.active:after{
	content:"-";
}

.p{
	padding:10px;
	font-family:segoe ui;
}
.panel{
	padding:10px;
	color:#011B33;
	font-weight: bold;
	transition:1s;
}
#bar{
	background-color:#011B33;
}
#bar:hover{
	background-color:#011B33;
}
.p{
	margin-bottom: -30px;
}
.pp{
	text-align:center;
	top: 0px;
}
footer{
	position: fixed;
    left:40%	;
    text-align: center;
    bottom: 0;
    font-weight: bold;
}
@media only screen and ( max-width:568px  ){
   footer{
   	position: fixed;
    left:28%	;
    text-align: center;
    bottom: 0;
   }
}
@media only screen and ( max-width:800px  ){
   footer{
   	position: fixed;
    left:35%	;
    text-align: center;
    bottom: 0;
   }
}