@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');

html{
    height:90%
  }

  body{
  position: relative;
width: auto;
/* height: auto; */

background: #F9FCFF;
    height:100%;
    background-color: #E5E5E5;
  }

  .logo{
    /* CIRCE */
/* position: absolute;
width: 105px;
height: 42px;
left: 124px;
top: 54px; */
font-family: 'Ginger Peachy NF' !important;
font-size: 28px;
/* line-height: 38px; */
text-align: center;
color: #011B33;

  }
  .intro{
    height:100%;
    border: #E5E5E5 1px solid;
  }
/* start home */
  .card{
    /* height: 70%; */
    margin-top: 50px;
    /* margin-bottom: auto; */
    /* width: 70%; */
    background-color: transparent !important;
    border: none !important;
    /*
    text-align: center; */
    margin:auto;

    position: relative;
width: 90%;
height: 60%;

/* background: #011B33; */
    }
    
    .container{
    height: auto;
    align-content: center;
    }

    /* end home */
  
  .jumb{
      
/* position: absolute;
width: 364px;
height: 89px;
left: 513px;
top: 106px; */
font-family: 'Gilroy-ExtraBold';
font-size: 40px;
line-height: 47px;
letter-spacing: -0.05em;
color: #000000;

  }
  .left{
      float: left;
    display : flex;
    justify-content : center;
    align-items : center;
    background-color:transparent;
    height : 100%;
    color : black;
  
  }
  .right{
      float: right;
    display : flex;
    justify-content : center;
    align-items : center;
    background-color:transparent;
    height : 100%;
    color : black;
  }
  @media (max-width: 1200px) { 
    .left{
      height:50%
    }
    .right{
      height:50%
    }
  }

 .elec2{
      /* Solar Panel Wattage */
position: absolute;
width: auto;
height: auto;
left: 130px;
top: 320px;;
font-size: 17px;
line-height: 18px;
letter-spacing: -0.05em;
font-family: 'Gilroy-Medium';
color: #000000;
  }

  .elec4{
    /* Battery Capacity ( Ah ) */
position: absolute;
width: auto;
height: auto;
left: 290px;
top: 320px;
font-family: 'Gilroy-Medium';
font-size: 17px;
line-height: 18px;
letter-spacing: -0.05em;
color: #000000;

  }

  .elec5{
    /* Quantity */
position: absolute;
width: auto;
height: auto;
left: 290px;
top: 143px;
font-family: 'Gilroy-Medium';
font-size: 17px;
line-height: 18px;
letter-spacing: -0.05em;
color: #000000;

  }
  
  .elec3{
    /* Hours of use per day */
position: absolute;
width: auto;
height: auto;
left: 130px;
top: 230px;
font-size: 17px;
line-height: 18px;
letter-spacing: -0.05em;
color: #000000;
font-family: 'Gilroy-Medium';

  }

.elec1{
  /* Power Consumption ( In watts ) */
  position: absolute;
width: auto;
height: auto;
left: 290px;
top: 230px;
font-size: 17px;
line-height: 18px;
letter-spacing: -0.05em;
/* padding-left: 38px; */
font-family: 'Gilroy-Medium';
/* font-size:18px; */
color: #000000;
  }

  .elec7{
    /* Hours of Sunlight per day */


position: absolute;
width: auto;
height: auto;
left: 460px;
top: 313px;
font-family: 'Gilroy-Medium';
font-size: 15px;
line-height: 18px;
letter-spacing: -0.05em;
color: #000000;
  }

  .elec8{
    /* Battery Voltage */
position: absolute;
width: auto;
height: auto;
left: 460px;
top: 230px;
font-family: 'Gilroy-Medium';
font-size: 15px;
line-height: 18px;
letter-spacing: -0.05em;
color: #000000;
  }

.row{
      padding-top: 0px;
  }

  .elec{

    position: absolute;
width: auto;
height: auto;
left: 130px;
top: 143px;
font-size: 17px;
line-height: 18px;
letter-spacing: -0.05em;
    /* Electronic Type */
/* position: absolute;
width: 280px;
height: 41px;
left: 117px;
top: 258px; */
/* float: left; */
/* padding-left:38px; */
font-family: 'Gilroy-Medium';
/* font-size:18px;
color: #000000; */
  }

  .runFooter{
height: 10%;
width: auto;
margin-top: 110px;
/* top: 469px; */
/* line-height: 16px; */
/* padding-top: 90px; */
font-family: 'Gilroy-SemiBoldItalic';
font-size: 16px;
letter-spacing: -0.05em;
color: #EDE6E6;
text-align: center;
clear: both;
  }

  /* span{
      padding-right: 60px;
      float: right;
  } */
  .txt{
/* padding-left: 80px; */
height: 13%;
width: 90%;
margin: auto;

  }
  .txt input{
      /* Rectangle 2 */
      margin-left:20px;
      height: 105%;
 width: 90%;
border-radius: 10px;
color: #000000;
font-size: 18px;
font-weight: 700;
background-color: grey;
/* margin: auto; */
  }

  .run{
      /* To run your Television you need: */
width: auto;
height: 12%;
margin-top: 55px;
/* padding-top: 50px; */
font-family: 'Gilroy-SemiBold';
font-size: 24px;
font-weight: 900;
/* line-height: 60px; */
letter-spacing: -0.05em;
text-align: center;
color: #FFFFFF;
  }

  .elec6{
    /* calculate */
position: absolute;
width: 35%;
height: 6%;
left: 210px;
top: 400px;
background: #011B33;
border: 1px solid #011B33;
/* box-sizing: border-box; */
border-radius: 5px;
margin: auto;

  }

  .elec6 span{
    /* Calculate */
    padding: 7px;
  /* left: 152px; */
  margin-left: 50px;
font-size: 25px;
line-height: 30px;
letter-spacing: -0.05em;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #FFFFFF;
text-align: center;
text-decoration: none !important;

  }
  
  .runDiv{
    /* Rectangle */
    position: absolute;
width: 70%;
height: 55%;
top: 80px;
background: #011B33;
box-shadow: 0px 4px 73px rgba(0, 0, 0, 0.25);
border-radius: 19px;
      
  }
  .sca{
      /* Solar Calculator App */
      /* position: absolute; */
      width: auto;
      height: auto;
      /* left: 513px; */
      /* top: 106px; */
      margin-top: 75px;
      /* scroll-margin-bottom: auto;
      scroll-padding-bottom: 50px; */
      /* padding-top: 90px; */
      font-size: 40px;
      /* line-height: 47px; */
      letter-spacing: -0.05em;
font-family: 'Gilroy-ExtraBold';
color: #000000;
  }

  .Hmspunpd{
      /* How much solar power do i need? */
      position: absolute;
      width: auto;
      height: auto;
      left: 147px;
      top: 80px;
font-family: 'Gilroy-ExtraBold';
font-size: 27px;
line-height: 35px;
letter-spacing: -0.05em;
color: #011B33;

  }  
  /* .about{
    display : flex;
    justify-content : center;
    align-items : center;
    background-color:#000;
    color : #FFF;
    height:100%
  } */

  .footer{
    padding-bottom: 7px;
    padding-top: 7px;
  }

  /* Calculate your Solar Requirement */

  /* .card-body{
    border: 1px red solid;
    height: auto;
    width: auto;
    text-align: center;
    margin: auto;
  } */
.homhed{
  position: absolute;
width: 200%;
height: auto;
/* left: 355px; */
top: 66px;
margin: auto;
font-family: 'Gilroy-ExtraBold';
font-size: 45px;
line-height: 59px;
text-align: center;
color: #FFFFFF;
}

.homcont{
  /* Circe is an app that allows you calculate how much power needed to run your home */
position: absolute;
width: 189%;
height: auto;
/* left: 133px; */
top: 138px;
font-family: 'Gilroy-Medium';
font-size: 30px;
line-height: 39px;
text-align: center;
color: #FFFFFF;
margin: auto;
}

.calcnow{
  position: absolute;
width: 70%;
height: auto;

background: #F9FCFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
  /* Calculate Now */
left: 358px;
top: 218px;
font-family: 'Gilroy-ExtraBold';
font-size: 52px;
line-height: 61px;
text-align: center;
color: #000000;
border-radius: 10px;

}


/* faqq */
.faq1{
  position: absolute;
width: auto;
height: auto;
left: 315px;
top: 12px;
font-family: 'Gilroy-ExtraBold';
font-size: 45px;
line-height: 53px;
text-align: center;
color: #011B33;
margin-top: 30px;

}
.faqq {
  
  
  position: relative;
width: auto;
height: 95%;
margin-top: 51px;
background: #FFFFFF;
  background-color: transparent;
  outline: none !important;
}
.faqq .widget{
  background-color: transparent;
  margin-top: 100px;
  margin-left: 110px;
  padding-left: 10px;
}

.faqq .label{
	background-color: green;
	font-size: 14px;
}

.faqq .panel, .faqq .panel-heading {
	background-color: rgba(1, 27, 51, 0.623);
	
	
}
.faqq .panel-heading {
  background-color: rgba(1, 27, 51, 0.904);
  color: white;
}

.faqq .panel-body p, .faqq .panel-heading a{
	color: white;
}
.faqq .panel-body p {
	font-size: 19px;
}
.faqq .panel-heading .ing{
	font-size: 16px;
}

/* .faqq .panel-heading a:hover{
	color: rgb(0,175,239);
} */

.faqq .panel-heading span{
	color: red;
}
/* End faqq */

.faqq, .terms, .lease, .privacy, .about, .client, .contact, .careers, .team{
	text-align: justify;
}

.faqq h2, .terms h1, .lease h1, .privacy h1, .about h1, .client h1, .contact h1, .contact h4, .careers h1, .team h1{
	text-align: center;
	
	
}

.faqq h2, .terms h2, .privacy h2, .lease h3{
	font-variant: small-caps;
	font-weight: 430;
	font-size: 21px;
}


.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #FFB485;
}
.error-container > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.error-container > span:nth-of-type(1) {
  color: #D1F2A5;
  animation: colordancing 4s infinite;
}
.error-container > span:nth-of-type(3) {
  color: #F56991;
  animation: colordancing2 4s infinite;
}
.error-container > span:nth-of-type(2) {
  width: 120px;
  height: 120px;
  border-radius: 999px;
}
.error-container > span:nth-of-type(2):before,
.error-container > span:nth-of-type(2):after {
	border-radius: 0%;
	content:"";
	position: absolute;
	top: 0; left: 0;
	width: inherit; height: inherit;
  border-radius: 999px;
	box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  animation: shadowsdancing 4s infinite;
}
.error-container > span:nth-of-type(2):before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
			transform: rotate(45deg);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
@keyframes shadowsdancing {
  0% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
  25% {
    box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4),
				inset 0 30px 0 rgba(209, 242, 165, 0.4),
				inset -30px 0 0 rgba(239, 250, 180, 0.4),	
				inset 0 -30px 0 rgba(255, 196, 140, 0.4);
  }
  50% {
     box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4),
				inset 0 30px 0 rgba(245, 105, 145, 0.4),
				inset -30px 0 0 rgba(209, 242, 165, 0.4),	
				inset 0 -30px 0 rgba(239, 250, 180, 0.4);
  }
  75% {
   box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4),
				inset 0 30px 0 rgba(255, 196, 140, 0.4),
				inset -30px 0 0 rgba(245, 105, 145, 0.4),	
				inset 0 -30px 0 rgba(209, 242, 165, 0.4);
  }
  100% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
}
@keyframes colordancing {
  0% {
    color: #D1F2A5;
  }
  25% {
    color: #F56991;
  }
  50% {
    color: #FFC48C;
  }
  75% {
    color: #EFFAB4;
  }
  100% {
    color: #D1F2A5;
  }
}
@keyframes colordancing2 {
  0% {
    color: #FFC48C;
  }
  25% {
    color: #EFFAB4;
  }
  50% {
    color: #D1F2A5;
  }
  75% {
    color: #F56991;
  }
  100% {
    color: #FFC48C;
  }
}

/* demo stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* body {
  background-color: #416475;
  margin-bottom: 50px;
} */
html, button, input, select, textarea {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #92a4ad;
}
h1 {
  text-align: center;
  /* margin: 30px 15px; */
}
.zoom-area { 
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}
.link-container {
  text-align: center;
}
a.more-link {
  text-transform: uppercase;
  font-size: 13px;
    background-color: #92a4ad;
    padding: 10px 15px;
    border-radius: 0;
    color: #416475;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}